
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #E7E7E7;
}
.cookies-message {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    z-index: 9999; }
header {
    background-color: #DBDBDB;
    color: #000000;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: relative;
    height: 80px;
}

header img {
    height: 90px; 
    width: 80px;  
    margin-right: 20px; 
}

.logo a {
    text-decoration: none;
    color: #000000;
    font-size: 1.5em;
}


nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
}

nav ul li a:hover {
    text-decoration: underline;
}


.burger-menu {
    display: none; 
    cursor: pointer;
    flex-direction: column;
    margin-left: auto;
}

.burger-menu span {
    display: block;
    width: 30px;
    height: 3px;
    margin: 4px;
    background-color: #000; 
}


@media (max-width: 800px) {
    
    .burger-menu {
        display: flex; 
    }

    nav ul {
        display: none; 
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 80px; 
        left: 0;
        background-color: #DBDBDB;
        padding: 10px 0;
    }

    nav ul li {
        margin: 10px 0;
        text-align: center;
    }

    
    #menu-toggle:checked + .burger-menu + nav ul {
        display: flex;
    }

    .logo a {
        font-size: 1.8em; 
        margin-bottom: 10px;
    }
}


.popular-categories {
    padding: 30px 20px; 
    text-align: center;
}

.popular-categories h2 {
    text-decoration: underline;
    font-size: 1.8em;
    margin-bottom: 20px;
}


.category {
    margin-bottom: 60px; 
}

.recipe-container {
    display: flex;
    justify-content: space-between;
    padding: 20px; 
}

.recipe-item {
    text-align: center;
    width: 30%;
    margin: 0 10px; 
}

.recipe-item h4 {
    font-size: 1.2em;
    margin-bottom: 8px;
}

/* Recipe card styling */
.recipe-card {
    height: 250px;
    border-radius: 5px;
    overflow: hidden; 
    transition: transform 0.3s;
    
}

.recipe-card img {
    width: 100%; 
    height: auto; 
    display: block; 
}

.recipe-card:hover {
    transform: scale(1.05); 
}

/* Footer Styling */
footer {
    background-color: #DBDBDB;
    padding: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
    width: 100%;
    margin-top: auto;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin: 5px 0;
}

footer ul li a {
    text-decoration: none;
    color: #000000;
}

footer ul li a:hover {
    text-decoration: underline;
}

.social-media {
    display: flex;
    justify-content: space-around;
}

/* Footer responsive for mobile */
@media (max-width: 800px) {
    .footer-grid {
        grid-template-columns: 1fr;
    }
}
