/* Global reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('AddImage/Background3.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    color: #333;
    min-height: 100vh;
    overflow-x: hidden;
}

/* Header styling */
header {
    background-color: #DBDBDB;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
header img {
    height: 90px; /* Set the height of the logo */
    width: 80;  /* Maintain the aspect ratio */
    margin-right: 20px; /* Space between logo and title */
}
.logo a {
    text-decoration: none;
    color: white;
    font-size: 2.5em;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Main content area */
main {
    flex: 1;
    padding: 20px;
    margin-top: 20px;
    max-width: 1200px;
    margin: 40px auto; /* Centers the main content with margin */
    background-color: rgba(158, 151, 151, 0.8); /* Semi-transparent background color */
    backdrop-filter: blur(0px); /* Blur effect for the background */
    border-radius: 10px; /* Optional: rounded corners */
    max-width: 1000px;
}

/* Article styling */
article {
    padding: 20px;
    margin: 10px 0;
}

/* Footer styling */
footer {
    background-color: #DBDBDB;
    padding: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
    width: 100%;
    margin-top: auto; /* Pushes the footer to the bottom of the page */
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin: 5px 0;
}

footer ul li a {
    text-decoration: none;
    color: #000000;
}

footer ul li a:hover {
    text-decoration: underline;
}

.social-media {
    display: flex;
    justify-content: space-around;
}
